/* *::before,
*::after {
  box-sizing: border-box;
} */
body {
  background-color: rgb(213, 201, 225);
  text-align: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
li {
  list-style-type: none;
  display: inline;
  align-items: baseline;

  float: left;
  margin: 20px;
}
.stats {
  display: table-row;
  border: 1px solid green;
  max-height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

.stats-item {
  display: inline;
}
.stats {
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 24px;
}
.button {
  line-height: 1.5;
  background-color: rgb(154, 183, 226);
}
.btn-load {
  margin: 20px 0;
}
/* .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.js-input {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 30px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}

/* hits List */
.hits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hits li {
  height: 270px;
  overflow: hidden;
}

.hits img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
